<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATH" value="/MyData/tcpserver"/>
    <property name="LOCAL_LOG_PATH" value="/Users/cuiduo/Documents"/>
    <property name="IOT_LOG_PATH" value="/home/iot/MyData/tcpserver"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
            <!--<fileNamePattern>${LOG_PATH}/tcpServer.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <!--<fileNamePattern>${LOCAL_LOG_PATH}/slc_tcpserver.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <fileNamePattern>${IOT_LOG_PATH}/slc_tcpserver.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>


    </appender>


    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
            <!--<fileNamePattern>${LOG_PATH}/tcpServer_ERROR.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <!--<fileNamePattern>${LOCAL_LOG_PATH}/slc_tcpserver_ERROR.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <fileNamePattern>${IOT_LOG_PATH}/slc_tcpserver_ERROR.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>

    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"></appender-ref>
        <appender-ref ref="FILE"></appender-ref>
        <appender-ref ref="ERROR_FILE"></appender-ref>
    </root>
</configuration>